body {
    background-color: #f1f1f1;
    font-family: "Poppins", sans-serif;
}
.banner-about {
    background-image: url(/img/picture/bg__header-product2.jpg);
    background-size: cover;
    height: 400px;
    background-position-y: -50px;
    width: 100%;
}
section .container  {
    display: block;
    justify-content: center;
    /* justify-items: center; */
    background-color: #FFFFFF;
    width: 1100px;
    margin: 40px 80px;
    /* text-align: center; */
    
}
.user{
    display: flex;
    justify-content: center;
}
.user-item{
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 420px;
    width: 355px;
}
.user-item img{
    max-height: 420px;
    max-width: 355px;
    text-align: center;
}
.user-item .info{
    display: block;
    text-align: center;
}
.title{
    text-align: center;
    margin-top: 40px;
}
.title h2{
    color: orange;
}
.why{
    margin-top: 40px;
    display: flex;
}

.why .text {
    width: 55%;
}
.why .text i{
    font-size: 20px;
}
.why .text button{
    margin-top: 15px;
    border: 0;
    color: #f1f1f1;
    padding: 10px;
}
.why .text button a{
    text-decoration: none;
    color: blue;
}
.why  img{
    max-width: 900px;
    float: right;
}
.why .ykien{
    float: left;
    margin-right: 80px;
}

