.containerH{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  
}
.icon-head {
    margin-top: 20px;
}
.icon-head li a{
  position: relative;
  bottom: 5px;
}
/* Cart-element*/
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
  border-bottom: 4px solid black;
}
.cart-column {
  display: flex;
  align-items: center;
 
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cart-row,.cart-row-title {
  display: flex;
}
.cart-row{
  border-bottom: 2px solid black;
}
.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}
.cart-quantity {
  width: 35%;
  
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}
.btn-danger {
  color: white;
  background-color:var(--clr-primary-1);
  border: none;
  border-radius: .3em;
}

.btn-danger:hover {
  background-color:var(--clr-primary-5);
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  color:var(--clr-primary-1);
  font-size: 1.5em;
  margin-right: 20px;
}

.cart-total-price {
  color:var(--clr-primary-5);
  font-size: 1.1em;
  font-weight: bold;
}

.shop-items:hover{
  border: 2px solid var(--clr-primary-5); 
  border-radius: 20px;
}
.shop-items:hover img{
  opacity: 0.7;
}
.sale-cart p{
  background-color: red;
  font-size: 70%;
  animation: blink 3s infinite;
}

